$white: #ededed;

//red
$red-400: #FF8787;
$red-500: #FF6B6B;
$red-600: #FA5252;
$red-700: #F03E3E;
$red-800: #E03131;
$red-900: #C92A2A;

//green
$green-400: #69DB7C;
$green-500: #51CF66;
$green-600: #40C057;
$green-700: #37B24D;
$green-800: #2F9E44;
$green-900: #2B8A3E;

//blue
$blue-400: #4DABF7;
$blue-500: #339AF0;
$blue-600: #228BE6;
$blue-700: #1C7ED6;
$blue-800: #1971C2;
$blue-900: #1864AB;

//cyan 
$cyan-400: #3BC9DB;
$cyan-500: #22B8CF;
$cyan-600: #15AABF;
$cyan-700: #1098AD;
$cyan-800: #0C8599;
$cyan-900: #0B7285;

//dark 
$dark-000: #C1C2C5;
$dark-100: #A6A7AB;
$dark-200: #909296;
$dark-300: #5C5F66;
$dark-400: #373A40;
$dark-500: #2C2E33;
$dark-600: #25262B;
$dark-700: #1A1B1E;
$dark-800: #141517;
$dark-900: #101113;